* text=auto eol=lf
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

php artisan make:livewire CategoryTable
php artisan livewire:form ComponentForm 

php artisan livewire:publish --config

composer require robsontenorio/mary

php artisan mary:install
 
php artisan key:generate
php artisan migrate:fresh --seed
php artisan make:model Pembelian -mfsc
php artisan make:controller (nama_controller) --resource
php artisan make:view components\
php artisan make:request UserRequest

$orders = Order::toBase()->get();
$user = App\Models\User::all();

composer create-project laravel/laravel:^11.0 nama_folder

laravel new example-app

cd example-app
npm install && npm run build
composer run dev

composer require barryvdh/laravel-debugbar --dev

composer require --dev laravel-lang/common

php artisan lang:update

php artisan view:clear
php artisan config:clear
php artisan cache:clear

